---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="hero is-dark-green is-medium is-bold">
    <div class="hero-head">
      <div
        class="navbar"
        id="navbar"
        hx-get="navbar.html"
        hx-trigger="load"
        hx-swap="outerHTML"
      >
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">About</h1>
      </div>
    </div>
  </section>
</Layout>
