---
import Layout from '../layouts/Layout.astro';
import Picks from '../components/Picks.jsx';
---

<Layout>
  <main>
    <section class="hero is-dark-green is-bold">
      <div class="hero-head">
        <div
          class="navbar"
          id="navbar"
          hx-get="navbar.html"
          hx-trigger="load"
          hx-swap="outerHTML"
        >
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">FHS Investment Club</h1>
          <p class="subtitle has-text-white">
            A Chapter of Young Investors' Society
          </p>
        </div>
      </div>
    </section>
    <div class="box">
      <div class="container has-text-centered">
        <span>Meetings every Monday from 3 - 4 PM in room 706.</span>
      </div>
    </div>
    <div class="container">
      <Picks client:load />
    </div>
  </main>
</Layout>
