---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div>
    <section class="hero is-dark-green is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Resources</h1>
          <p class="subtitle has-text-white">FHS Investment Club</p>
        </div>
      </div>
    </section>
    <div class="content is-normal">
      <div class="hero-body">
        <div class="container has-text-left">
          <h1>Resources</h1>
          <p>
            Use this collection of resources for everything from registering for
            Young Investors' Society to picking and researching stocks on your
            own. If you have any questions on how to access these resources
            please email&nbsp;
            <a
              href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJfqcLdlDnNVjTxxGJwQLmTlXSNkBQlgdwdtbTBvFNDTMvjXZBZrkBKhxFPHfSkhHLxpwxV"
              target="_blank"
              rel="noreferrer"
            >
              franklininvestmentclub@gmail.com
            </a>
            .
          </p>
          <h2>YIS</h2>
          <p>
            The club is a chapter of Young Investors' Society, so every member
            needs to be registered in MyYIS. Our school's name is "Franklin High
            School TN".
          </p>
          <ul>
            <li>
              <a href="https://yis.org/" target="_blank" rel="noreferrer">
                Young Investors' Society Website
              </a>
            </li>
            <li>
              <a
                href="https://yis.org/yiscourse/dashboard "
                target="_blank"
                rel="noreferrer"
              >
                MyYIS
              </a>
            </li>
            <li>
              <a
                href="hhttps://yis.org/yiscourse/register "
                target="_blank"
                rel="noreferrer"
              >
                Register for MyYIS
              </a>
            </li>
          </ul>
          <h2>Stock Pitching</h2>
          <p>
            Use these resources to help create a pitch deck and a discounted
            cash flow model.
          </p>
          <ul>
            <li>
              <a
                href="https://yis.org/wp-content/uploads/2020/10/Walt-Disney-Investment-Report-2020.10.16.docx"
                target="_blank"
                rel="noreferrer"
              >
                YIS Stock Pitch Report Template
              </a>
            </li>
            <li>
              <a
                href="https://yis.org/stock-pitch-tutorial-videos/"
                target="_blank"
                rel="noreferrer"
              >
                YIS Stock Pitch Tutorial Videos
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/watch?v=si0p0nfGjdw"
                target="_blank"
                rel="noreferrer"
              >
                2022 YIS Global Stock Pitch Showcase
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/spreadsheets/d/1WUmt6w0RsuRheukox_QiWk4rGpugXat-NHVLNUZDnqg/edit#gid=2115524601"
                target="_blank"
                rel="noreferrer"
              >
                YIS Sample Discounted Cash Flow
              </a>
            </li>
            <li>
              <a
                href="https://investmentclub.nd.edu/assets/348428/stock_pitch_workshop.pdf"
                target="_blank"
                rel="noreferrer"
              >
                Notre Dame Stock Pitch Workshop
              </a>
            </li>
            <li>
              <a
                href="https://investmentclub.nd.edu/assets/487715/sample_dcf_apple_.xlsx "
                target="_blank"
                rel="noreferrer"
              >
                Notre Dame Sample Discounted Cash Flow
              </a>
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1l75JL6P5ZyUfex9IDA9O-FQRrqN9mJN8/view"
                target="_blank"
                rel="noreferrer"
              >
                Tiger Investments (Princeton University) Guide to Valuation
              </a>
            </li>
          </ul>
          <h2>Brokerage Accounts</h2>
          <p>
            These are the club's recommended brokerages. Fidelity offers $50 for
            creating a youth account. Robinhood offers $5-$200 in free stock if
            you use the link provided. Stockpile offers $10 if you use the link
            provided. Of the three, Robinhood is the only one that does not
            offer a custodial account, which means you'll need to trade in an
            adult's name.
          </p>
          <ul>
            <li>
              <a
                href="https://www.fidelity.com/go/youth-account/overview"
                target="_blank"
                rel="noreferrer"
              >
                Fidelity
              </a>
            </li>
            <li>
              <a
                href="join.robinhood.com/thomash1906"
                target="_blank"
                rel="noreferrer"
              >
                Robinhood
              </a>
            </li>
            <li>
              <a
                href="https://www.stockpile.com/youre-invited"
                target="_blank"
                rel="noreferrer"
              >
                Stockpile
              </a>
            </li>
          </ul>
          <h2>FHS Investment Club Stock Market Game</h2>
          <p>
            The club runs a competition through the MarketWatch Stock Market
            Game. Each player starts with $1000 to paper trade. The top
            performer each week gets candy at the meeting. The password to join
            the game is "Franklin".
          </p>
          <ul>
            <li>
              <a
                href="https://marketwatch.createsend1.com/t/n/j-l-cd7429436f8311eda44aece57ee4dc54-l-t-r-l/"
                target="_blank"
                rel="noreferrer"
              >
                FHS Investment Club Stock Market Game
              </a>
            </li>
          </ul>
          <h2>Investment Research</h2>
          <p>
            Use these resources to find and evaluate potential stocks to buy.
            Together, these sites can help you do everything from finding a
            stock to setting a price target to selling it for profit.
          </p>
          <ul>
            {' '}
            <li>
              <a
                href="https://www.morningstar.com/"
                target="_blank"
                rel="noreferrer"
              >
                Morningstar
              </a>
            </li>
            <li>
              <a
                href="https://investors.valueline.com/Users/Account/barcode?bcode=2&lp=/secure/research?barcode=2&o=research"
                target="_blank"
                rel="noreferrer"
              >
                Value Line (WCPL Link)
              </a>
              &nbsp; - Use the number on your Williamson County Public Library Card
              to log in.
            </li>
            <li>
              <a
                href="https://seekingalpha.com "
                target="_blank"
                rel="noreferrer"
              >
                Seeking Alpha
              </a>
            </li>
            <li>
              <a
                href=" https://www.cnn.com/markets"
                target="_blank"
                rel="noreferrer"
              >
                CNN Business
              </a>
            </li>
            <li>
              <a
                href="https://finance.yahoo.com/ "
                target="_blank"
                rel="noreferrer"
              >
                Yahoo Finance
              </a>
            </li>
            <li>
              <a
                href="https://www.google.com/finance/?hl=en "
                target="_blank"
                rel="noreferrer"
              >
                Google Finance
              </a>
            </li>
            <li>
              <a
                href="https://digital.fidelity.com/prgw/digital/research/src"
                target="_blank"
                rel="noreferrer"
              >
                Fidelity Stock Research
              </a>
            </li>
            <li>
              <a
                href="https://bi.gale.com/essentials/?u=tel_p_willcpl&sid=geolinks "
                target="_blank"
                rel="noreferrer"
              >
                Business Insights: Essentials
              </a>
            </li>
            <li>
              <p>
                <a
                  href="https://wilco.bywatersolutions.com/cgi-bin/koha/opac-detail.pl?biblionumber=70411&query_desc=kw%2Cwrdl%3A%20the%20outlook"
                  target="_blank"
                  rel="noreferrer"
                >
                  The Outlook
                </a>{' '}
                - Available <i>at</i> the Williamson County Public Library. Call
                Number: R 332.6 STA.
              </p>
            </li>
            <li>
              <p>
                <a
                  href="https://www.sec.gov/edgar/search/#"
                  target="_blank"
                  rel="noreferrer"
                >
                  SEC Filings
                </a> -
              </p>
              <ul>
                <li>
                  <a
                    href="https://www.sec.gov/edgar/search/#/category=custom&forms=4"
                    target="_blank"
                    rel="noreferrer"
                  >
                    Form 4 (insider trading)
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.sec.gov/edgar/search/#/category=custom&forms=13F-HR%252C13F-NT%252C13FCONP "
                    target="_blank"
                    rel="noreferrer"
                  >
                    Form 13F (hedge fund portfolios)
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul></ul>
          <h2>News</h2>
          <p>
            Read articles from these publications to stay up to date on current
            events in finance.
          </p>
          <ul>
            <li>
              <a
                href="https://www.morningstar.com/products/magazine "
                target="_blank"
                rel="noreferrer"
              >
                Morningstar Magazine
              </a>
            </li>
            <li>
              <a href=" https://hbr.org/ " target="_blank" rel="noreferrer">
                Harvard Business Review
              </a>
            </li>
            <li>
              <a
                href="https://www.thedailyupside.com/ "
                target="_blank"
                rel="noreferrer"
              >
                The Daily Upside
              </a>
            </li>
            <li>
              <a href="https://www.cnbc.com/ " target="_blank" rel="noreferrer">
                CNBC
              </a>
            </li>
          </ul>
          <h2>Books</h2>
          <p>
            These books are excellent resources for learning Value Investing.{
              ' '
            }
            <i>A Random Walk Down Wall Street</i>, however, is about the
            Efficient Market Hypothesis, it will prove a better resource to what
            Benjamin Graham calls "Defensive Investors".
          </p>
          <ul>
            <li>
              <a
                href="https://www.amazon.com/Intelligent-Investor-Definitive-Investing-Essentials/dp/0060555661/ref=sr_1_1?crid=F6XE47DRBPJ2&keywords=the+intelligent+investor&qid=1670039342&sprefix=the+intel%2Caps%2C94&sr=8-1 "
                target="_blank"
                rel="noreferrer"
              >
                <i>The Intelligent Investor</i>
              </a>
              &nbsp;by Benjamin Graham
            </li>
            <li>
              <a
                href="https://www.amazon.com/Security-Analysis-Principles-Benjamin-Graham/dp/007141228X/ref=sr_1_1?crid=2327TMVVI115H&keywords=security+analysis+2nd+edition&qid=1670039404&sprefix=security+analysis+2nd+edition%2Caps%2C88&sr=8-1 "
                target="_blank"
                rel="noreferrer"
              >
                <i>Security Analysis (2nd Edition)</i>
              </a>
              &nbsp;by Benjamin Graham and David L. Dodd
            </li>
            <li>
              <a
                href="https://www.amazon.com/One-Up-Wall-Street-Already/dp/0743200403/ref=sr_1_1?keywords=one+up+on+wall+street&qid=1670039494&sprefix=one+up+%2Caps%2C89&sr=8-1"
                target="_blank"
                rel="noreferrer"
              >
                <i>One Up On Wall Street</i>
              </a>
              &nbsp;by Peter Lynch
            </li>
            <li>
              <a
                href="https://www.amazon.com/Beating-Street-Peter-Lynch/dp/0671891634/ref=sr_1_1?crid=3U5PFGKA9NULX&keywords=beat+the+street+by+peter+lynch&qid=1670039721&sprefix=beat+the+street+%2Caps%2C97&sr=8-1 "
                target="_blank"
                rel="noreferrer"
              >
                <i>Beat The Street</i>
              </a>
              &nbsp;by Peter Lynch
            </li>
            <li>
              <a
                href="https://www.amazon.com/Random-Walk-Down-Wall-Street/dp/0393358380/ref=sr_1_1?keywords=a+random+walk+down+wall+street&qid=1670039879&sprefix=a+rando%2Caps%2C89&sr=8-1 "
                target="_blank"
                rel="noreferrer"
              >
                <i>A Random Walk Down Wall Street</i>
              </a>
              &nbsp;by Burton G. Malkiel
            </li>
          </ul>
          <h2>Blogs</h2>
          <p>
            Blogs are a great resource to get the insights of experienced
            investors.
          </p>
          <ul>
            <li>
              <a
                href=" https://hiddenvaluegems.com/ "
                target="_blank"
                rel="noreferrer"
              >
                Hidden Value Gems
              </a>
            </li>
            <li>
              <a
                href="https://aswathdamodaran.blogspot.com/ "
                target="_blank"
                rel="noreferrer"
              >
                Musings On Markets
              </a>
            </li>
          </ul>
          <h2>Podcasts</h2>
          <p>
            Listen to these finance podcasts any time you would normally listen
            to music to learn investing and personal finance. Interesting Fact:
            The Money Guy Show is based in Franklin! Their offices are right
            above Mellow Mushroom.
          </p>
          <ul>
            <li>
              <a
                href=" https://www.npr.org/sections/money/ "
                target="_blank"
                rel="noreferrer"
              >
                Planet Money
              </a>
            </li>
            <li>
              <a
                href="https://moneyguy.com/show/ "
                target="_blank"
                rel="noreferrer"
              >
                The Money Guy Show
              </a>
            </li>
          </ul>
          <h2>Education</h2>
          <p>
            These educational resources teach Value Investing. Holland Finance
            is the YouTube channel of Club President Caedmon Holland. The
            slideshows were presented at previous club meetings.
          </p>
          <ul>
            <li>
              <a
                href="http://yis.org/wp-content/uploads/2016/10/Stock-Investing-101-eBook.pdf"
                target="_blank"
                rel="noreferrer"
              >
                YIS Stock Investing 101 eBook
              </a>
            </li>
            <li>
              <a
                href="https://yis.org/videos/"
                target="_blank"
                rel="noreferrer"
              >
                YIS Videos
              </a>
            </li>
            <li>
              <a
                href="https://www.globalsecuritiesinstitute.com/young-investors-society-students"
                target="_blank"
                rel="noreferrer"
              >
                Global Securities Institute
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@hollandfinance8509"
                target="_blank"
                rel="noreferrer"
              >
                Holland Finance
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/1pQJL8FesvNIxvaeB3D95UNKbIGfTdFvSf5apPFWRPzM/edit?usp=sharing"
                target="_blank"
                rel="noreferrer"
              >
                Intro to Value Investing
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/1xTBEIbuFELLIKN5nvZPPmSShzaI8Vb_0FEt-MVLh7Xo/edit?usp=sharing"
                target="_blank"
                rel="noreferrer"
              >
                Investing: Start to Finish
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>
