@import 'bulma/bulma.sass'

html, body
  background-color: white;

.is-dark-green
  background-color: #1b5959;

.navbar-item, h1.title
  color: white;

a.navbar-item:hover
  color: white;
  background-color: #1e6666;